body
{
	
	background-color: rgb(9, 9, 83);
	margin-top: 35px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 35px;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#logo img
{
    width: 45px;
    height: 45px;
	margin-left: 10px;
	margin-top: 3px;
}
h1
{
	font-family: sephora;
	color: white;
    text-align: left;
    margin: 0 0 0 10px;
}
header
{
	display: flex;
    background: rgb(40,109,185);
}
ul
{	
	justify-items: flex-end;
    list-style-type: none;
    display: flex;
	color: white;
}
#conteneur
{
	display: flex;

}
h3
{
	color: white;
	font-family: Lato-Light;
	font-size: 26px;
	text-align: justify;
}
nav li
{
	color: white;
	font-family: Lato-Light;
	font-size: 18px;
}
#ImageContact1
{
	margin-left: auto;
	margin-right: 20px;
}
#ImageContact1 img
{
	width: 450px;
    height: 200px;
}
#ImageContact2
{

	margin-right: auto;
	margin-left: 20px;
}
#ImageContact2 img
{
	width: 350px;
    height: 200px;
}
#Contacto
{	
	margin-top: 40px;
	display: flex;
}
li
{	
	font-size: 13px;
	font-family: Lato-Light;
    margin-left: 20px;
}
li a
{
    font-size: 1.5em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
a
{
	color: white;
}	
li a:hover
{
    color: white;
    border-bottom: 3px solid ;
}
@font-face 
{
    font-family: 'Sephora';
    src: url('Sephora.ttf');
}
@font-face
{
	font-family: 'Lato-Light';
	src: url('Lato-Light.ttf');
}
h2
{
	text-align: center;
	font-size: 45px;
	color: white;
	font-family: Lato-Light;
	width: 35%;
	background-color: rgb(105,137,190);
}
#Article1
{	
	display: flex;
}
#Image
{
	margin-left: 20px;
}
#Image img
{
	width: 450px;
    height: 260px;
}
table
{
	margin-top: 15px;
	font-family: Lato-Light;
	color: white;
	font-size: 20px;
}
footer
{
	margin-top: 50px;
	display: flex;
    background: rgb(40,109,185);
	height: 70px;
}
p
{
	color: white;
	font-family: Lato-Light;
	font-size: 15px;
}
h3
{
	color: white;
	font-family: Lato-Light;
	font-size: 20px;
}
#Name
{
	display: flex;
	color: white;
	font-family: Lato-Light;
	font-size: 15px;
	margin-right: 20px;
	margin-left: 15px;
}
#logoUT3
{
	margin-left: 10px;

}
#logoIut
{
	margin-left: 40px;
	margin-right: 250px;
}
#logoIut img
{
	width: 105;
	height: 70px;
}
#contact
{	
	margin-right: 20px;
}